@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("./assets/font/Inter-Thin.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/font/Inter-ExtraLight.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/font/Inter-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/font/Inter-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/font/Inter-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/font/Inter-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/font/Inter-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: inter;
  background: white;
  /* max-width: 95vw; */
  /* margin: auto; */
}

.nav-bar {
  z-index: 1;
}

.sm-font {
  /* font-family: "Playwrite GB S Guides", cursive; */
  font-weight: 400;
  font-style: normal;
}

/* ====================================  services section start ======================================== */
.services-box {
  padding: 70px 100px;
}
/* ====> image section start */
.happy-customer-card {
  background-color: #49f7f2;
  width: 350px;
  height: 190px;
  border-radius: 100px;
}
.happy-customer-card .child-1 {
  padding: 45px 0px 0px 60px;
}
/* ====> white circle  */
.happy-customer-card .child-2 {
  background-color: #ffffff;
  height: 150px;
  margin: 20px 20px 20px 0;
  border-radius: 100px;
}
/* ====> circle typpe box for image */
.image-circle {
  height: 170px;
  border-radius: 100px;
  border: 15px solid #ededed;
}
/* ====> rectangle type box for image */
.image-rectangle {
  height: 340px;
  border-radius: 100px;
  border: 15px solid #ededed;
}
/* ====> image section end */

/* ====> accordion for services start */
.ant-collapse-icon-position-start {
  background-color: transparent !important;
}
.ant-collapse {
  border-radius: 0px !important;
  border: none !important;
  border-top: 1px solid #d9d9d9 !important;
}
.ant-collapse-header {
  padding: 15px 2px !important;
  cursor: auto !important;
}
.ant-collapse-content {
  border-top: none !important;
}
.ant-collapse-content > .ant-collapse-content-box {
  padding: 0px 10px 20px 90px !important;
}
.ant-collapse-expand-icon {
  display: none !important;
}
/* ====> accordion for services end  */

/* ======================================== services section end =========================================== */

/* ======================================== porfolio section start =========================================== */
.porfolio-box {
  padding: 70px 100px;
}
/* ======================================== porfolio section end =========================================== */

@keyframes leftToRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.scroll-animation {
  opacity: 0;
  position: relative;
  transition: opacity 0.3s ease-in-out;
}

.scroll-animation.animate {
  animation: leftToRight 1s ease-out forwards;
}

/* ======================================== media query start =========================================== */

/* Extra small screens (e.g., small phones) */
@media (min-width: 320px) and (max-width: 480px) {
  .porfolio-box,
  .services-box {
    padding: 50px 15px;
  }
  .ant-collapse-content > .ant-collapse-content-box {
    padding: 0px 10px 20px 50px !important;
  }
  .happy-customer-card {
    width: 300px;
    height: 160px;
  }
  .happy-customer-card .child-1 {
    padding: 25px 0px 0px 40px;
  }
  .happy-customer-card .child-2 {
    height: 140px;
    margin: 10px 10px 10px 0;
  }
}

/* Small screens (e.g., phones) */
@media (min-width: 480px) and (max-width: 768px) {
  .porfolio-box,
  .services-box {
    padding: 60px 25px;
  }
  .ant-collapse-content > .ant-collapse-content-box {
    padding: 0px 10px 20px 55px !important;
  }
}

/* Medium screens (e.g., tablets) */
@media (min-width: 768px) and (max-width: 1024px) {
  .porfolio-box,
  .services-box {
    padding: 70px 30px;
  }
  .ant-collapse-content > .ant-collapse-content-box {
    padding: 0px 10px 20px 60px !important;
  }
}

/* Large screens (e.g., laptops) */
@media (min-width: 1024px) and (max-width: 1366px) {
  .porfolio-box,
  .services-box {
    padding: 70px 75px;
  }
  .ant-collapse-content > .ant-collapse-content-box {
    padding: 0px 10px 20px 75px !important;
  }
}

/* Extra large screens (e.g., desktops) */
@media (min-width: 1366px) and (max-width: 1600px) {
  /* Styles for xl */
}

/* Ultra-wide screens (e.g., large monitors) */
@media (min-width: 1601px) {
  /* Styles for 2xl */
}
/* ======================================== media query end =========================================== */

.card-show {
  display: none;
  /* mix-blend-mode: darken;   */
}

.card-img :hover .card-show {
  transition: ease-in-out 1s;
  display: block;
}

@media only screen and (max-width: 614px) {
  .nav_section_hide {
    display: none;
  }
  .mobile-navigation {
    display: block;
  }
  .socail-media {
   position: unset;
  }
}



/* embla */

.embla {
  /* max-width: 48rem; */
  margin-top: 100px !important;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 33%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}
.embla__controls {
  display: flex;
  grid-template-columns: auto 1fr;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 2.6rem;
  /* height: 3.6rem; */
  z-index: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__play {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: flex-end;
  color: var(--text-body);
  font-weight: 700;
  font-size: 1.4rem;
  padding: 0 2.4rem;
  min-width: 8.4rem;
}
.embla__progress {
  border-radius: 1.8rem;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  background-color: var(--background-site);
  position: relative;
  height: 0.6rem;
  justify-self: flex-end;
  align-self: center;
  width: 13rem;
  max-width: 90%;
  overflow: hidden;
}
.embla__progress__bar {
  background-color: var(--text-body);
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: -100%;
}
.embla__controls {
  grid-template-columns: auto 1fr auto;
}
.embla__progress {
  justify-self: center;
  transition: opacity 0.3s ease-in-out;
  width: 8rem;
}
.embla__progress--hidden {
  opacity: 0;
}
.embla__progress__bar {
  animation-name: autoplay-progress;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
.embla__progress--hidden .embla__progress__bar {
  animation-play-state: paused;
}
@keyframes autoplay-progress {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}
